.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.mainContainer {
  border: solid blue 3px;
  width: 45vw;
  padding: 10px;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.bookCard {
  border: solid darkorchid 2px;
  padding: 10px;
  margin: 10px;
  text-align: start;
}